
* {
    margin: 0;
    padding: 0;
  }
    $primaryColor: #af9a7d;
    $mainWhite: #fff;
    $offWhite: #f7f7f7;
    $mainBlack: #222;
    $mainGrey: #ececec;
    $darkGrey: #cfcfcf;
    $mainTransition: all 0.3s linear;
    $mainSpacing: 3px;
    $lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    $darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

    .App{
      
    font-family: 'Source Code Pro', monospace;
    // letter-spacing: 1px;
    }

    .cancel-button{
      font-family: 'Quicksand',sans-serif;
    }

    // h3{
    //   font-family:'Quicksand', sans-serif;
    // }


    //glowing input highlights

    input,textarea{
      outline: none;
    }
     
    input:not([type=range]):focus, textarea:focus {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      border: 1px solid rgba(81, 203, 238, 1);
    }
  

    
    //navbar
   nav{
    height:auto;
    background-color: $offWhite;
    p{  
        font-weight:600;
        font-size: 18px;

        span:last-child{
          display: inline-block;
          color:$primaryColor;
          text-shadow: 6px 4px 4px #d8c5a8;
          }
    }

    ul{
      span{
        color:$mainBlack;
        font-family: 'Quicksand',sans-serif;
        transition: $mainTransition;
        &:hover{
          color:$primaryColor;
        }
      }
    }

  }
  
  .line-lg,.line-sm{
    background-color: $primaryColor;
    border:2px solid $primaryColor;
    width:40%;
  }
  .line-sm{
    width:5vw;
  }

  .btn-primary{
    letter-spacing: $mainSpacing;
    font-family: 'Quicksand',sans-serif;
    border:2px solid $primaryColor;
    background-color: $primaryColor;
    color:$mainBlack;
    font-weight: bolder;
    transition: $mainTransition;
    cursor: pointer;
    text-transform: uppercase;
    
    &:hover{
      background-color: transparent;
      color:$primaryColor;
    }
 }



  //banner
  .banner{
    background-color: rgba(0,0,0,0.5);
    z-index:5;
    color:$mainWhite;
    letter-spacing: $mainSpacing;
    font-weight: bold;

  }


  //services section
  #services{
    height:auto;
    background-color: $darkGrey;

    .service-icon{
      color:$primaryColor;
    }

    p{
      font-family: 'Quicksand', sans-serif;
    }
  }



  //Room card
.room-card{
  font-family:'Quicksand', sans-serif;
  box-shadow:$lightShadow;

  &:hover{
    box-shadow: $darkShadow;
  }

  .img-container{
    position: relative;
  }
  
  .room-price{
    position:absolute;
    left:0;
    top:0;
    background-color: rgba(0, 0, 0, 0.7);
    font-family:'Quicksand', sans-serif;
    color:white;
  }

  .link{
    position: absolute;
    top:50%;
    left:50%;
    transform:scale(0);
  }

  .img-container:hover{
    background-color: rgba(0, 0, 0, 0.7);
    img{
      opacity:0.3;
    }
    .room-price{
      transform: scale(0);
    }
    .link{
      transform: translate(-50%,-50%) scale(1);
    }

  }

  .room-name{
    background-color: $darkGrey;
    font-weight: 700;
  }

}


//single room page
#room-info{

  .carousel{
    position: relative;
  
    .next{
      position: absolute;
      top:45%;
      right:4%;
      
    }
  
    .prev{
      position: absolute;
      top:45%;
      left:4%;
    }
  }

  .details,.extras{
    font-family: 'Quicksand',sans-serif;
  }
  .info{
    letter-spacing: $mainSpacing;
  }

  // .grid{
  //   grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
  // }

}



//filter form
form{

  label{
    font-family: 'Quicksand',sans-serif;
    font-weight: 600;
    color:$mainBlack;
  }
  
  input[name=capacity]{
    width:90px;
  }

}


//availability form 
//datepicker
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}


#availability-form label {
  display: block;
}
input[type='date'] {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}

